@import "../../style.scss";

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
     height: auto;
    border-bottom: 1px solid lightgray;
    position: sticky;
    z-index: 999;
    background-color: white;
    

    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      flex: 1;
      min-width: 0;

      span {
        font-weight: bold;
        font-size: 20px;
        color:darkblue;
        white-space: nowrap;
        
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border:1px solid lightgray;
        border-radius: 5px;
        padding: 5px;
        max-width: 300px;
        flex: 1;

        input {
          border: none;
           min-width: 100px;
            max-width: 100%;
            width: 100%;
            background-color: transparent;
          

          @include mobile{
            display: none;
          }

          @include tablet{
            width: 150px;
          }
        }
      }
    }

    .right {
      
      display: flex;
      align-items: center;
      gap: 20px;
      flex-shrink: 0;
  }

      @include mobile{
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet{
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

       
      }
    }
  
